doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title 
            | (S)CSS MasterClass
    body 
        header 
            nav 
                ul 
                    li Nail Studios
                    li Shop Polish
                ul 
                    li Journal
        div.hero
            h4 The Uptown Collection 
            h3 
                | Meet our newest nails, designed in collaboration
                | with our friends on the Upper East Side. 
            a(href="")  Read More
        section.under-hero
            img(src="img/nails.jpg", alt="")
            .under-hero__content
                .wrapper 
                    h4 The Studio 
                    h3
                        | Book a manicure at our Soho flagship studio or our new Uptown studio,
                        | 20 East 69th Street at Madison Avenue.
                    a(href="http://")  Book a Nanicure
        section.blog 
            article.blog__post
                img(src="img/nails.jpg", alt="")
                .post__content
                    span.post__date Feb 25, 2020
                    h4 New and Now: The Uptown Colletion
                    a(href="http://") Read Story
            article.blog__post
                img(src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80", alt="")
                .post__content
                    span.post__date Feb 25, 2020
                    h4 New and Now: The Uptown Colletion
                    a(href="http://") Read Story
            article.blog__post
                img(src="https://images.unsplash.com/photo-1544627836-5f343438a7d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60g", alt="")
                .post__content
                    span.post__date Feb 25, 2020
                    h4 New and Now: The Uptown Colletion
                    a(href="http://") Read Story
        section.gallery
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
            .gallery__poster
                img(src="img/gallery.webp", alt="")
        footer.footer
            .footer__column
                span.column__title Support
                ul
                    li F.A.Q
                    li privacy Policy
                    li Terms and Conditions
                    li Accessibility 
            .footer__column
                span.column__title Follow Us
                ul
                    li Instagram
                    li Twitter 
            .footer__column
                span.column__title Support
                ul
                    li F.A.Q
                    li privacy Policy
                    li Terms and Conditions
                    li Accessibility                    
            